---
http_interactions:
- request:
    method: put
    uri: https://pathtravel.freshdesk.com/helpdesk/tickets/16
    body:
      encoding: UTF-8
      string: '{"helpdesk_ticket":{"status":5}}'
    headers:
      Authorization:
      - Basic aW5mb0BwYXRoLnRyYXZlbDpeRUtWeWVVOVQzdA==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"ticket":{"deleted":false,"display_id":16,"subject":"Support needed..","status_name":"Closed","requester_status_name":"This
        ticket has been Closed","priority_name":"Low","source_name":"Portal","requester_name":"Apanach","responder_name":"No
        Agent","to_emails":null,"product_id":null}}'
  recorded_at: Thu, 17 Dec 2015 10:17:01 GMT
recorded_with: VCR 3.0.0
