---
http_interactions:
- request:
    method: get
    uri: https://pathtravel.freshdesk.com/helpdesk/tickets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic aW5mb0BwYXRoLnRyYXZlbDpeRUtWeWVVOVQzdA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"cc_email":{"cc_emails":[],"fwd_emails":[],"reply_cc":[],"tkt_cc":[]},"created_at":"2015-12-16T12:00:00-05:00","deleted":false,"delta":true,"description":"Some
        details on the issue ...","description_html":"<div>Some details on the issue
        \u2026</div>","display_id":14,"due_by":"2015-12-21T12:00:00-05:00","email_config_id":null,"frDueBy":"2015-12-17T12:00:00-05:00","fr_escalated":false,"group_id":null,"id":9000698128,"isescalated":false,"owner_id":null,"priority":1,"requester_id":9005941712,"responder_id":null,"source":2,"spam":false,"status":2,"subject":"Support
        needed..","ticket_type":null,"to_email":null,"trained":false,"updated_at":"2015-12-16T12:00:00-05:00","urgent":false,"status_name":"Open","requester_status_name":"Being
        Processed","priority_name":"Low","source_name":"Portal","requester_name":"Apanach","responder_name":"No
        Agent","to_emails":null,"product_id":null,"custom_field":{}},{"cc_email":{"cc_emails":["alopez@path.travel"],"fwd_emails":[],"reply_cc":["alopez@path.travel"],"tkt_cc":["alopez@path.travel"]},"created_at":"2015-12-16T11:18:09-05:00","deleted":false,"delta":true,"description":"Some
        details on the issue ...","description_html":"<div>Some details on the issue
        \u2026</div>","display_id":13,"due_by":"2015-12-21T11:18:09-05:00","email_config_id":null,"frDueBy":"2015-12-17T11:18:09-05:00","fr_escalated":false,"group_id":null,"id":9000697229,"[...]
