---
http_interactions:
- request:
    method: post
    uri: https://pathtravel.freshdesk.com/helpdesk/tickets
    body:
      encoding: UTF-8
      string: '{"helpdesk_ticket":{"description":"Some details on the issue ...","subject":"Support
        needed..","email":"apanach@path.travel","priority":1,"status":2}}'
    headers:
      Authorization:
      - Basic aW5mb0BwYXRoLnRyYXZlbDpeRUtWeWVVOVQzdA==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"helpdesk_ticket":{"cc_email":{"cc_emails":[],"fwd_emails":[],"reply_cc":[],"tkt_cc":[]},"created_at":"2015-12-16T12:38:35-05:00","deleted":false,"delta":true,"description":"Some
        details on the issue ...","description_html":"<div>Some details on the issue
        \u2026</div>","display_id":15,"due_by":"2015-12-21T12:38:35-05:00","email_config_id":null,"frDueBy":"2015-12-17T12:38:35-05:00","fr_escalated":false,"group_id":null,"id":9000698855,"isescalated":false,"notes":[{"note":{"body":"created_by:
        9005888574\ntime: 2015-12-16 12:38:35 -0500","body_html":"<div>created_by:
        9005888574<br>time: 2015-12-16 12:38:35 -0500</div>","created_at":"2015-12-16T12:38:35-05:00","deleted":false,"id":9000674146,"incoming":false,"private":true,"source":4,"updated_at":"2015-12-16T12:38:35-05:00","user_id":9005941712,"attachments":[],"support_email":null}}],"owner_id":null,"priority":1,"requester_id":9005941712,"responder_id":null,"source":2,"spam":false,"status":2,"subject":"Support
        needed..","ticket_type":null,"to_email":null,"trained":false,"updated_at":"2015-12-16T12:38:35-05:00","urgent":false,"status_name":"Open","requester_status_name":"Being
        Processed","priority_name":"Low","source_name":"Portal","requester_name":"Apanach","responder_name":"No
        Agent","to_emails":null,"product_id":null,"attachments":[],"custom_field":{},"tags":[]}}'
  recorded_at: Wed, 16 Dec 2015 17:38:36 GMT
recorded_with: VCR 3.0.0
