---
http_interactions:
- request:
    method: post
    uri: https://pathtravel.freshdesk.com/helpdesk/tickets/17/conversations/note
    body:
      encoding: UTF-8
      string: '{"helpdesk_note":{"body":"Hi Mum","private":false}}'
    headers:
      Authorization:
      - Basic aW5mb0BwYXRoLnRyYXZlbDpeRUtWeWVVOVQzdA==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"note":{"body":"Hi Mum","body_html":"\u003Cdiv\u003EHi Mum\u003C/div\u003E","created_at":"2015-12-17T06:02:09-05:00","deleted":false,"id":9000689213,"incoming":false,"private":false,"source":2,"updated_at":"2015-12-17T06:02:09-05:00","user_id":9005888574,"attachments":[],"support_email":null}}'
  recorded_at: Thu, 17 Dec 2015 11:02:09 GMT
recorded_with: VCR 3.0.0
